@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Colores y estilos */
:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: ■rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--whiteColor);
    font-weight: 500;
}

.btn a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover {
    background: var(--SecondaryColor);
}

.btnSecondary {
    margin-top: 8px;
    padding: .3rem .4rem;
    border-radius: 3rem;
    border: 2px solid var(--SecondaryColor);
    cursor: pointer;
    color: var(--blackColor);
    font-weight: 600;
    transition: .3s;
}

.btnSecondary a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btnSecondary:hover {
    border-color: var(--PrimaryColor);
    transform: scale(1.03);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

.btnSecondaryDanger {
    margin-top: 8px;
    padding: .3rem .4rem;
    border-radius: 3rem;
    border: 2px solid red;
    cursor: pointer;
    color: var(--blackColor);
    font-weight: 600;
    transition: .3s;
}

.btnSecondaryDanger a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btnSecondaryDanger:hover {
    border-color: rgb(107, 0, 0);
    transform: scale(1.03);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

img,
video {
    width: 100%;
    height: auto;
}

input {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    width: 100%;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid var(--textColor);
}

select {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    width: 100%;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid var(--textColor);

}

body {
    background: var(--bodyColor);
}

textarea {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    width: 100%;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid var(--textColor);
    resize: none;
    height: 150px;
}

/*MEDIA QUERIES ===================================*/

@media screen and (min-width: 1240px) {
    .container {
        width: 80% !important;
        margin: auto !important;
    }

    .section {
        padding: 6rem 0 4rem;
    }
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.7;
    }
}